#dallas-header {
  background-image: url(../img/dallas_gallery.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#login-form {
  border-radius: 25px; }

header .login-title {
  color: #a8a8a8; }

header .input-group {
  padding: 0px 20px; }
