#profile-container{
	/*background-color:rgba(5,5,5,0.9);*/
	background-color: rgba(90, 90, 90, 0.96);

	h1{
		padding: 15px 0px 40px 0px;
	}

	.welcome{
		text-align: left;
		padding: 10px;
	}

	.table-container{
		width: 500px;
		margin: auto;
		padding-bottom: 20px;

		#trans-table{
			th{
				text-align: center;
				padding: 20px 0px;
			}
			td{
				padding: 20px 0px;
			}
		}
		#billing-table{
			th{
				text-align: center;
				padding: 20px 0px;
			}
			td{
				padding: 20px 0px;
			}
		}

	}
}

#dallas-header{
	.nav{
			a{
				background-color: #282880;
			}
		}
}



#profile-table{
	th{

		padding: 20px 0px;
	}
	td{
		padding: 20px 0px;
	}
	.state-edit{
		color: #2ff296;
	}

}

